.navbar {
    /*background-color: #f0f2f5;*/
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}

/* Main Menu */
.menu {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;

}

.menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

/* Menu Item */
.menu-item {
    position: relative;
    white-space: nowrap;
}

.menu-link {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: #000;
}

/* Submenu */
.submenu {
    list-style: none;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: none;
}

.menu-item:hover .submenu {
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu-open {
        display: flex;
    }
}
